.header{
    width: 100%;
    background-color: #2ae8d6;
    padding: 5px 0px;
    text-align: left;
    background-size: cover;
    color: #ff4500;
    font-size: 24px;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    margin: 0 0;
}
body{
    overflow-x: hidden;
}
.subheader{
    font-family: 'Titillium Web', sans-serif;
    color: #FFF;
    text-align: center;
    padding: 5px;
    color: #000;
}
.menuwrap{
    margin-top: 50px;
}
.carousel-inner{
    max-height: 500px;
}
.carousel-caption{
    top:20px;
    font-family: 'Dosis';
}
.menuitem{
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    padding: 4px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}
.menuitem:hover{
    transform: scale(1.1);
    box-shadow: none;
    color: green;
}
.footeritem{
    display: inline;
    color: blue;
    font-family: 'Quicksand';
    font-size: 14px;
    cursor: pointer;
}
.footer{
    margin-top: 2em;
    text-align: center;
}
.rights{
    font-size: 10px;
    font-family: 'Titillium Web';
}